<div class="container">
    <form #update="ngForm" (submit)="updateCustomer(update)">
      <div class="mb-3">
        <label class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="ex : Abdul Majid Alam"
          [(ngModel)]="customer.name"
          name="name"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Gender</label>
        <input type="radio" id="male" value="Male" ngModel name="gender" />Male
        <input
          type="radio"
          id="female"
          value="Female"
          [(ngModel)]="customer.gender"
          name="gender"
        />Female
      </div>
      <div class="mb-3">
        <label class="form-label">Age</label>
        <input
          type="number"
          class="form-control"
          placeholder="ex : 25"
          [(ngModel)]="customer.age"
          name="age"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          placeholder="ex : test@gmail.com"
          [(ngModel)]="customer.email"
          name="email"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Address</label>
        <input
          type="text"
          class="form-control"
          placeholder="ex : Bangalore"
          [(ngModel)]="customer.address"
          name="address"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Contact</label>
        <input
          type="number"
          class="form-control"
          placeholder="ex : 1234567895"
          [(ngModel)]="customer.contact"
          name="contact"
        />
      </div>
  
      <button
        type="submit"
        class="btn btn-primary"
        
      >
        Submit
      </button>
    </form>
  </div>
  
