<div class="container">
  <table class="table" >
    <thead>
      <tr>
        <th scope="col">Customer ID</th>
        <th scope="col">Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Email</th>
        <th scope="col">Age</th>
        <th scope="col">Address</th>
        <th scope="col">Contact</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers_list">
        <td scope="row">{{customer.customerId}}</td>
        <td scope="row">{{customer.name}}</td>
        <td scope="row">{{customer.gender}}</td>
        <td scope="row">{{customer.email}}</td>
        <td scope="row">{{customer.age}}</td>
        <td scope="row">{{customer.address}}</td>
        <td scope="row">{{customer.contact}}</td>
        <td scope="row">
            <button type="button" class="btn btn-primary" (click)="goToUpdate(customer.customerId)">Edit</button>
            <button type="button" class="btn btn-secondary" (click)="goToView(customer.customerId)">View</button>
            <button type="button" class="btn btn-danger" (click)="deleteCustomer(customer.customerId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
